{% extends "::base.html.twig" %}

{% block title %}AppBundle:ImportAirportsJson:importAirportsJson{% endblock %}

{% block body %}
<h1>Welcome to the ImportAirportsJson:importAirportsJson page</h1>
{% endblock %}
